.cForumList .ipsDataItem {
	border-bottom-width: 1px;
}

.cForumList .ipsDataItem_main {
	vertical-align: middle;
}

.cForumGrid {
	min-height: 230px !important;
	margin-bottom: 15px;
	position: relative;
	padding-bottom: 80px !important;
	border: 1px solid rgba(0,0,0,0.1);
}

	.cForumGrid .cForumGrid_icon {
		max-width: 40px;
	}

	.cForumGrid .cForumGrid_info {
		position: absolute;
		bottom: 15px;
		left: 15px;
		right: 15px;
	}

	.cForumGrid_unread .cForumGrid_title {
		font-weight: bold;
		line-height: 1.1;
	}

	.cForumGrid .cForumGrid_forumInfo {
		min-height: 70px;
		border-bottom: 1px solid rgba(0,0,0,0.05);
	}

.cForumTopicTable .ipsDataItem_title,
#elVNC_main .ipsDataItem_title {
	display: inline;
}

.cForumTitle {
	{prefix="transition" value="0.3s linear all"}
}

	.cForumRow_hidden .cForumTitle {
		opacity: 0.5;
	}

	.cForumRow_hidden > .ipsDataList {
		display: none !important;
	}

.cForumToggle {
	font-size: 18px;
	opacity: 0.2;
	{prefix="transition" value="0.3s all linear"}
	width: 20px;
	height: 20px;
}

	.cForumToggle:hover {
		opacity: 1;
	}

	.cForumToggle:after {
		content: "\f078";
		font-family: "FontAwesome";
		font-size: 18px;
	}

	.cForumRow_hidden .cForumToggle:after {
		content: "\f053";
	}
	html[dir="rtl"] .cForumRow_hidden .cForumToggle:after {
		content: "\f054";
	}

html[dir="ltr"] .cTopicList .ipsDataItem_icon {
	min-width: 25px;
	padding-right: 0;
}
html[dir="rtl"] .cTopicList .ipsDataItem_icon {
	min-width: 25px;
	padding-left: 0;
}

.cTopicList .ipsDataItem_main {
	padding: 10px;
}

.cTopicHovercard .cTopicHovercard_container {
	height: 200px;
	overflow: auto;
	border-bottom: 0;
}

.cTopicHovercard .ipsType_richText {
	font-size: 12px;
}

.cTopicHovercard hr.ipsHr {
	margin: 7px 0;
}

/* Q&A RATINGS */
.cForumQuestion_stat > span:first-child {
	display: block;
	font-size: 22px;
}

.cRatingColumn {
	width: 65px;
	padding: 15px 15px 0 15px !important;
}

	.cRatingColumn.cRatingColumn_question {
		padding-top: 0 !important;
	}

html[dir="ltr"] .cRatingColumn {
	border-right: 1px solid rgba(0,0,0,0.1);
}
html[dir="rtl"] .cRatingColumn {
	border-left: 1px solid rgba(0,0,0,0.1);
}
	
	.cRatingColumn_on {
		background: #e4ecdd;
	}

	.cRatingColumn_up {
		border-color: #4a7c20;
	}

	.cRatingColumn_down {
		border-color: #a52638;
	}

	.cRatingColumn > ul > li {
		display: block;
	}

	.cRatingColumn_question {
		padding-top: 15px;
	}

		html[dir="ltr"] .cRatingColumn_question + .ipsColumn {
			padding-left: 15px;
		}
		html[dir="rtl"] .cRatingColumn_question + .ipsColumn {
			padding-right: 15px;
		}

.cAnswerRate {
	font-size: 60px;
	line-height: 10px;
	position: relative;
	display: block;
	overflow: hidden;
}	

	.cAnswerRate.cAnswerRate_up {
		margin-bottom: 10px;
	}

html[dir="ltr"] .cAnswerRate {
	left: 1px;
}
html[dir="rtl"] .cAnswerRate {
	right: 1px;
}

	.cAnswerRate:not( .ipsType_positive ):not( .ipsType_negative ), 
	.cAnswerRate:hover:not( .ipsType_positive ):not( .ipsType_negative ) {
		color: {theme="text_color"};
	}

		span.cAnswerRate:not( .ipsType_positive ):not( .ipsType_negative ),
		span.cAnswerRate:hover:not( .ipsType_positive ):not( .ipsType_negative ) {
			color: {theme="text_light"};
			opacity: 0.5;
			cursor: not-allowed;
		}

		.cAnswerRate.ipsType_positive:hover {
			color: #4a7c20;
		}

		.cAnswerRate.ipsType_negative:hover {
			color: #a52638;
		}

	.cAnswerRate > .fa {
		line-height: 30px;
	}

	span.cAnswerRate.cAnswerRate_noPermission {
		opacity: 0.25 !important;
	}

.cAnswerRating {
	font-size: 26px;
	font-weight: 500;
	line-height: 30px;
	display: block;
	margin-top: -8px;
}

.cBestAnswerIndicator {
	display: inline-block;
	color: #fff;
	font-size: 22px;
	width: 36px;
	height: 36px;
	text-align: center;
	line-height: 36px;
	position: relative;
	background: #4a7c20;
	border-radius: 36px;
	margin-bottom: 5px;
}
	
	.ipsDataList .cBestAnswerIndicator {
		margin-bottom: 0;
	}

	.cBestAnswerIndicator_off {
		background: #e5e5e5;
	}

		.cBestAnswerIndicator_off:hover {
			background: #d4d4d4;
			color: #fff;
		}

	a.cBestAnswerIndicator:not( .cBestAnswerIndicator_off ):hover {
		line-height: 34px;
	}

		a.cBestAnswerIndicator:not( .cBestAnswerIndicator_off ):hover i.fa:before {
			content: '\f00d';
			color: #fff;
		}

/* POST WRAPPER STYLES */

.cPost.ipsModerated,
.cPost.ipsModerated .cAuthorPane {
	background: {theme="moderated"};
}

.cTopic .cPost:nth-of-type(1) {
	border-top: 0;
}

.cPost.cPostQuestion {
	border-top: 0;
}

.cPost .ipsComment_meta {
	padding: 15px 10px 10px 0;
}
html[dir="rtl"] .cPost .ipsComment_meta  {
	padding: 15px 0px 10px 10px;
}

.cPost .ipsComment_controls {
	margin: 0;
	padding: 0;
}

.cPost .cPost_contentWrap {
	position: relative;
	padding: 7px 15px 15px 0;
	/*min-height: 200px;*/
}
html[dir="rtl"] .cPost .cPost_contentWrap {
	padding: 7px 0px 15px 15px;
}

.cPost.ipsComment .ipsType_richText {
	margin-top: 0;
}

html[dir="ltr"] .cPost .ipsComment_content {
	padding-right: 0;
	padding-left: 15px;
}
html[dir="rtl"] .cPost .ipsComment_content {
	padding-left: 0;
	padding-right: 15px;
}

.cAuthorPane {
	text-align: center;
	padding: 15px 10px !important;
}

	.cAuthorPane_photo {
		margin: 10px 0;
		position: relative;
	}

	.cAuthorPane_author {
		display: block;
		/* http://community.invisionpower.com/4bugtrack/infopane-display-name-split-r1164/ */
		/*word-break: break-all;*/
		line-height: 1.1;
		word-wrap: initial;
		overflow: hidden;
		text-overflow: ellipsis;
		-moz-hyphens: initial;
	}

	.cAuthorPane_info .ipsRepBadge {
		font-size: inherit;
	}

	.cAuthorPane .cAuthorGroupIcon {
		max-width: 100%;
	}

.ipsApp .cTopic [data-role="commentFeed"] > .ipsComment:first-child {
	padding-top: 15px;
}

.cPostShareMenu h5 {
	margin-bottom: 5px;
}

html[dir="ltr"] .cTopic .ipsComment.ipsComment_ignored {
	padding-left: 200px;
}
html[dir="rtl"] .cTopic .ipsComment.ipsComment_ignored {
	padding-right: 200px;
}

/* REPLY AREA / CREATE TOPIC */
.cTopicPostArea .ipsComposeArea {
	margin-top: 0;
}

/*.cTopicPostArea:not( .cTopicPostArea_noSize ) .ipsComposeArea_dummy {
	min-height: 200px;
}*/

/*.cTopicPostArea hr {
	display: none;
}*/

.cCreateTopic_date input {
	max-width: 100% !important;
	width: 100% !important;
	margin-bottom: 7px;
}
html[dir="ltr"] .cCreateTopic_date input {
	padding-left: 35px !important;
}
html[dir="rtl"] .cCreateTopic_date input {
	padding-right: 35px !important;
}

.cCreateTopic_date li {
	position: relative;
}

.cCreateTopic_date i {
	position: absolute;
	top: 10px;
	font-size: 18px;
}
html[dir="ltr"] .cCreateTopic_date i {
	left: 10px;
}
html[dir="rtl"] .cCreateTopic_date i {
	right: 10px;
}

/* FEATURED TOPICS */
.cFeaturedTopics h2 {
	font-weight: 500;
}

/* PHONES */
@media screen and (max-width: 767px) {
	.cPost.ipsComment .cAuthorPane {
		text-align: left;
	}
	html[dir="rtl"] .cPost.ipsComment .cAuthorPane {
		text-align: right;
	}

	.cPost.ipsComment .ipsUserPhoto {
		display: inline-block;
	}

	.cPost.ipsComment .ipsUserPhoto > img {
		width: 50px;
		height: 50px;
	}

	.cPost.ipsComment .cAuthorPane_photo {
		position: absolute;
		top: 0;
		margin: 0;
	}
	html[dir="ltr"] .cPost.ipsComment .cAuthorPane_photo {
		left: 0;
	}
	html[dir="rtl"] .cPost.ipsComment .cAuthorPane_photo {
		right: 0;
	}

	html[dir="ltr"] .cPost.ipsComment .cAuthorPane_info,
	html[dir="ltr"] .cPost.ipsComment .cAuthorPane_author {
		margin-left: 65px;
	}
	html[dir="rtl"] .cPost.ipsComment .cAuthorPane_info,
	html[dir="rtl"] .cPost.ipsComment .cAuthorPane_author {
		margin-right: 65px;
	}

	.cPost.ipsComment .cAuthorPane_author {
		line-height: 1.1;
	}

		.cPost.ipsComment .cAuthorPane_author > a 	{
			font-size: 14px;
			line-height: 18px;
			font-weight: bold;
		}
}