/* PHONES */
@media screen and (max-width: 767px) {
	#elMessageList {
		max-height: 100%;
		min-height: 0;
		overflow: visible;
	}

		#elMessageList .cMessage.ipsDataItem {
			padding: 7px !important;
		}

	html[dir="ltr"] #elMessageViewer {
		padding-left: 0;
	}
	html[dir="rtl"] #elMessageViewer {
		padding-right: 0;
	}

		#elMessageViewer .ipsType_pageTitle {
			clear: both;
			margin-top: 25px;
		}

		#elMessageViewer .ipsComment {
			padding: 0;
		}

	.cMessage_members {
		padding-top: 10px;
	}

	.cMessage_members > ol > li {
		display: block;
		border-bottom: 1px solid #f0f0f0;
		margin-bottom: 10px;
		padding-bottom: 10px;
	}
	html[dir="ltr"] .cMessage_members > ol > li {
		border-right: 0;
		margin-right: 0;
	}
	html[dir="rtl"] .cMessage_members > ol > li {
		border-left: 0;
		margin-left: 0;
	}

	.cMessage_members > ol > li:last-child {
		margin-bottom: 0;
		border-bottom: 0;
		padding-bottom: 0;
		padding-right: 0;
	}
	html[dir="ltr"] .cMessage_members > ol > li:last-child {
		padding-right: 0;
	}
	html[dir="rtl"] .cMessage_members > ol > li:last-child {
		padding-left: 0;
	}

	.cMessage_members [data-role="addUserItem"] .ipsButton {
		width: 100%;
		line-height: 28px;
	}

	#elMessage_compose {
		float: right;
	}
	html[dir="rtl"] #elMessage_compose {
		float: left;
	}
}