body {
	background: transparent;
	position: absolute;
	width: 100%;
}

footer {
	background: none repeat scroll 0 0 #262e33;
}
	footer a, #ipsLayout_footer a, #ipsLayout_footer p {
		color: #eee;
	}

	#ipsLayout_footer {
		margin: 0;
		padding: 20px 0;
	}

.pac-container {
	z-index: 20000 !important;
}

.ipsApp.ipsApp_admin {
	padding-top: 58px;
}

.ipsApp.ipsApp_admin #ipsLayout_header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2000;
	border-bottom: 0 !important;
}
html[dir="ltr"] .ipsApp.ipsApp_admin #ipsLayout_header {
	left: 0;
}
html[dir="rtl"] .ipsApp.ipsApp_admin #ipsLayout_header {
	right: 0;
}

.ipsApp.ipsApp_admin #ipsLayout_header header {
	line-height: 58px;
	height: 58px;
	padding: 0 15px;
	background: #417ba3;
}

	.ipsApp.ipsApp_admin #ipsLayout_header header a {
		color: #fff;
	}

	.ipsApp.ipsApp_admin #ipsLayout_header #elSiteTitle {
		font-size: 20px;
	}
	html[dir="ltr"] .ipsApp.ipsApp_admin #ipsLayout_header #elSiteTitle {
		float: left;
		margin-right: 30px;
	}
	html[dir="rtl"] .ipsApp.ipsApp_admin #ipsLayout_header #elSiteTitle {
		float: right;
		margin-left: 30px;
	}

	.ipsApp.ipsApp_admin #elLogo img {
		display: none;
	} 

	.ipsApp.ipsApp_admin #elLogo {
		display: inline-block;
		width: 26px;
		height: 25px;
		vertical-align: middle;
		margin: -3px 5px 0 0;
		background-image: url( {resource="logo.png" app="core" location="admin"} );
		background-repeat: no-repeat;
		background-size: 26px 25px;
	}
	html[dir="rtl"] .ipsApp.ipsApp_admin #elLogo {
		margin: -3px 0 0 5px;
	}

#acpLiveSearch {
	position: absolute;
	top: 0;
}
html[dir="ltr"] #acpLiveSearch {
	margin: 6px 10px 0 0;
	right: 0;
}
html[dir="rtl"] #acpLiveSearch {
	margin: 6px 0 0 10px;
	left: 0;
}

	#acpLiveSearch input {
		width: 300px;
	}

#acpMainLayout {
	height: 100%;
	position: relative;
	z-index: 1500;
}

.ipsApp.ipsApp_admin .ipsSubNavigation {
	padding: 0 0 15px 0;
	background: transparent;
}

#acpJumpToContent {
	position: absolute;
	top: 2px;
	color: #fff;
	font-size: 11px;
	margin-left: -1000px;
}

	html[dir="ltr"] #acpJumpToContent {
		left: 53px;
	}

	html[dir="rtl"] #acpJumpToContent {
		 right: 53px;
	 }

	html[dir="ltr"] #acpJumpToContent:focus {
		margin-left: 0;
	}
	html[dir="rtl"] #acpJumpToContent:focus {
		margin-right: 0;
	}
	
/* MAIN APP MENU */
#acpAppMenu {
	background: #262e33;
	width: 320px !important;
}

#acpAppList {
	text-align: center;
	height: 100%;
}

	#acpAppList > li {
		width: 120px;
	}

		#acpAppList > li:not( #elReorderAppMenu ) > a {
			display: block;
			color: rgba(255,255,255,0.5);
			padding: 15px 0;
			z-index: 2000;
			position: relative;
		}

			#acpAppList > li.acpAppList_dragging > ul {
				display: none !important;
			}

			#acpAppList > li:not( #elReorderAppMenu ).acpAppList_active > a {
				color: #fff;
				background: #394248;
			}

	#acpAppList .acpAppList_icon {
		font-size: 40px;
		display: block;
	}

	#acpAppList > li > ul {
		display: none;
		position: absolute;
		right: 0;
		left: 120px;
		top: 0;
		bottom: 0;
		width: 200px;
		text-align: left;
		background: #394248;
		padding: 15px;
		opacity: 0;
		display: none;
		z-index: 1500;
		overflow: auto;
		overflow-x: hidden;
		{prefix="transition" value="0.3s all linear"}
	}
	html[dir="rtl"] #acpAppList > li > ul {
		right: 120px;
		left: 0;
		text-align: right;
	}

		#acpAppList > li.acpAppList_active > ul {
			display: block;
			opacity: 1;
		}

#acpAppList > li > ul {
	line-height: 1.8;
}

	#acpAppList > li > ul a {
		color: rgba(255,255,255,0.6);
	}

	#acpAppList > li > ul h3 {
		font-size: 17px;
		font-weight: normal;
		color: #fff;
		margin: 0 0 4px 0;
	}

	#acpAppList > li > ul > li {
		margin-bottom: 15px;
	}

	#acpAppList > li > ul .acpModuleMenu_active {
		font-weight: bold;
	}

/* Styles for the collapsing admin menu */
.cAdminHideMenu #acpAppList > li.acpAppList_active > ul,
body:not( .cAdminHideMenu ) #elHideMenu [data-action='toggleOpen'] {
	display: none;
}

.cAdminHideMenu #acpAppList, .cAdminHideMenu #acpAppMenu  {
	width: 120px !important;
}

.cAdminHideMenu #acpAppList > li.acpAppList_active:hover > ul {
	display: block;
}

.cAdminHideMenu #acpAppList > li:hover > ul {
	box-shadow: 0px -2px 36px rgba(0,0,0,0.2);
}

.cAdminHideMenu #elHideMenu [data-action='toggleClose'] {
	display: none;
}

/* Hover fallbacks for non-js */
.ipsJS_none #acpAppList:hover > li:not( #elReorderAppMenu ) > a {
	background: transparent;
}

.ipsJS_none #acpAppList > li:not( #elReorderAppMenu ):hover > a {
	color: #fff;
	background: #394248;
}

.ipsJS_none #acpAppList:hover > li > ul {
	display: none;
}

.ipsJS_none #acpAppList > li:hover > a + ul {
	display: block;
	opacity: 1;
}

/* Hide menu stuff */
#acpAppList #elHideMenu {
	width: 16px;
	height: 32px;
	line-height: 32px;
	position: fixed;
	bottom: 0;
	z-index: 6000;
	background: #394248;
	border-radius: 3px 0 0 0;
}

	html[dir="ltr"] #acpAppList #elHideMenu {
		left: 104px;
	}
	html[dir="rtl"] #acpAppList #elHideMenu {
		right: 104px;
	}
	
	#acpAppList #elHideMenu a {
		padding: 0 !important;
	}

		#acpAppList #elHideMenu a:hover {
			color: #fff;
		}

/* Tab reordering stuff */
#acpAppList #elReorderAppMenu {
	background: #262e33;
	position: fixed;
	bottom: 0;
	z-index: 5000;
}
	
	html[dir="ltr"] #acpAppList #elReorderAppMenu {
		padding: 7px 23px 7px 7px;
	}
	html[dir="rtl"] #acpAppList #elReorderAppMenu {
		padding: 7px 7px 7px 23px;
	}

	#acpAppList #elReorderAppMenu a {
		color: rgba(255,255,255,0.4);
		opacity: 0.5;
	}

	#acpAppList #elReorderAppMenu a[data-action="reorder"]:hover,
	#acpAppList #elReorderAppMenu a[data-action="saveOrder"] {
		opacity: 1;
		color: #fff;
	}

	#acpAppList > li > a > span[data-role='reorder'] {		
		position: absolute;
		top: 50%;
		margin-top: -20px;
	}
	html[dir="ltr"] #acpAppList > li > a > span[data-role='reorder'] {
		left: 5px;
	}
	html[dir="rtl"] #acpAppList > li > a > span[data-role='reorder'] {
		left: auto;
		right: 5px;
	}

	#acpAppList > li > ul > li span[data-role="reorder"] {
		display: inline-block;
		width: 18px;
		height: 18px;
		line-height: 18px;
		font-size: 10px;
	}
	html[dir="ltr"] #acpAppList > li > ul > li span[data-role="reorder"] {
		margin-right: 5px;
	}
	html[dir="rtl"] #acpAppList > li > ul > li span[data-role="reorder"] {
		margin-left: 5px;
	}

#acpAppList span[data-role="reorder"] {
	background: #f5f5f5;
	color: #000;
	width: 27px;
	height: 27px;
	line-height: 27px;
	border-radius: 27px;
	text-align: center;
	display: block;
	cursor: move;
}

/* CONTENT AREA */
#acpMainArea {
	background: #fff;
}

#acpContent {
	padding: 30px 15px;
}

#acpPageHeader {
	background: #d9e8f3;
	padding: 30px 15px 15px;
}
	
	#acpPageHeader .ipsType_pageTitle {
		color: #262e33;
	}

	#acpPageHeader .ipsSubNavigation {
		margin-top: -15px;
	}

.acpToolbar {
	background: #d9e8f3;
	padding: 0 15px 10px;
}
	
	.acpToolbar > ul {
		margin: 0;
	}

	.acpToolbar li {
		margin: 0 5px 5px 0;
	}
	html[dir="rtl"] .acpToolbar li {
		margin: 0 0 5px 5px;
	}

.acpWidgetToolbar {
	position: relative;
}

.acpWidgetSearch {
	width: 26px;
	height: 26px;
	line-height: 26px;
	border-radius: 3px;
	display: inline-block;
	text-align: center;
	color: #fff;
	background: rgba(255,255,255,0.2);
	font-size: 15px;
}
html[dir="ltr"] .acpWidgetSearch {
	margin-left: 4px;
}
html[dir="rtl"] .acpWidgetSearch {
	margin-right: 4px;
}

	.acpWidgetSearch:hover {
		background: rgba(255,255,255,0.1);
		color: #fff;
	}

.ipsAreaBackground_dark,
.ipsSideMenu_itemActive a, a.ipsSideMenu_itemActive {
	background: #394248;
}

.ipsButtonBar {
	background: #4e5b62;
}

.ipsButtonRow li > a, .ipsButtonRow li > span {
	background: rgba(255,255,255,0.2);
	color: #fff;
	text-shadow: none;
}

	.ipsButtonRow li > a:not( .ipsButtonRow_active ):hover, .ipsButtonRow li > span:not( .ipsButtonRow_active ):hover {
		background: rgba(255,255,255,0.1);
	}

/* BLOCKS */
.acpBlock_title {
	padding: 15px;
	margin: 0;
	background: #f0f0f0;
	color: #151515;
	font-size: 16px;
	font-weight: normal;
}

	.acpBlock_title.acpBlock_titleDark {
		color: #fff;
		background: #394248;
	}

	.ipsDialog_content .acpBlock {
		padding: 15px;
	}

	.acpBlock_titleSmall {
		font-size: 14px;
		padding: 10px;
	}

/* MOBILE STUFF */
#elAdminMobileNav {
	position: absolute;
	top: 0px;
}

#elAdminMobileNav li a {
	width: 50px;
	height: 50px;
	line-height: 50px;
	color: #fff;
	text-align: center;
	font-size: 26px;
	margin: 0;
	position: relative;
	display: block;
}

#elUserNav_mobile a {
	color: #fff;
}

#elMobileDrawer > .ipsDrawer_menu {
	z-index: 10000;
}

#elMobileDrawer .acpAppList_icon {
	font-size: 20px;
	display: inline-block;
	width: 26px;
	vertical-align: middle;
}

.ipsToolList_horizontal {
	margin-bottom: 15px;
}

/* BUTTON BAR & SEARCH */
.ipsApp input.acpTable_search {
	padding: 4px;
	color: #000;
}

/* DRAGGING */
.ipsDrag .ipsDrag_dragHandle {
	cursor: move;
	{prefix="transition" value="0.2s all linear"}
}

.ipsDrag:hover .ipsDrag_dragHandle {
	opacity: 0.4;
}

.ipsDrag .ipsDrag_dragHandle:hover {
	opacity: 1;
}

.ipsTabs .ipsNotificationCount {
	position: relative;
	top: 0px;
	right: 0px !important;
}

/* HIGH RES IMAGES */
@media screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
	.ipsApp.ipsApp_admin #elLogo {
		background-image: url( {resource="logo@2x.png" app="core" location="admin"} );
	}
}