[data-role="mainColumn"],
[data-role="sideColumn"] {
	min-height: 500px;
}

[data-role="mainColumn"] > li,
[data-role="sideColumn"] > li {
	margin-bottom: 15px;
}

[data-role="sideColumn"] {
	min-height: 150px;
}

.acpWidget_item {
	position: relative;
	text-overflow: ellipsis;
	overflow: hidden;
}

	html[dir="ltr"] .acpWidget_item .ipsType_sectionTitle {
		padding-right: 10px;
	}
	html[dir="rtl"] .acpWidget_item .ipsType_sectionTitle {
		padding-left: 10px;
	}

		.acpWidget_item .ipsType_sectionTitle .ipsType_light {
			opacity: 0.6;
		}

	/*.acpWidget_item [data-role="widgetContent"] {
		min-height: 150px;
	}*/

.acpWidget_tools {
	font-size: 18px;
	opacity: 0;
	{prefix="transition" value="0.3s all linear"}
}
html[dir="ltr"] .acpWidget_tools {
	margin-left: 5px;
	float: right;
}
html[dir="rtl"] .acpWidget_tools {
	margin-left: auto;
	margin-right: 5px;
	float: left;
}

	html[dir="ltr"] .acpWidget_tools li {
		margin-right: 10px;
	}
	html[dir="rtl"] .acpWidget_tools li {
		margin-left: 10px;
	}

	.acpWidget_tools a {
		color: #fff;
	}

	.acpWidget_item:hover .acpWidget_tools {
		opacity: 0.5;
	}

	.acpWidget_item .acpWidget_tools:hover {
		opacity: 1;
	}

html[dir="ltr"] .acpWidget_sidebar {
	border-left: 3px solid #e3e3e3;
	margin-left: 1.6% !important;
	padding-left: 1.6% !important;
}
html[dir="rtl"] .acpWidget_sidebar {
	border-right: 3px solid #e3e3e3;
	margin-right: 1.6% !important;
	padding-right: 1.6% !important;
}

.acpWidget_emptyHover {
	background: #f4f4d9;
	height: 40px;
}

.acpWidget_manualReorder {
	width: 40px !important;
	padding: 1px !important;
}

/* NOTES */
[data-widgetKey="admin_notes"] textarea {
	height: 150px;
	line-height: 1.5;
	font-size: 13px;
	line-height: 1.3;
	border: 1px solid rgba(0,0,0,0.2);
	background: #fdfdd5 url( {resource="notepad_bg.png" app="core" location="admin"} ) repeat-y;
	box-shadow: none;
}

	[data-widgetKey="admin_notes"] textarea:focus {
		box-shadow: rgba(178, 157, 191, 0.3);
	}

/* "Empty" widgets */
[data-widgetkey] .ipsEmpty {
	padding: 30px 0 0;
}

/* REGISTRATION */
#elRegisterGraph {
	width: 100%;
	height: 235px;
}

/* NEWS */
#elWidget_ipsNews .ipsDataItem_icon {
	font-size: 30px;
}

/* ONLINE USERS */
#elActiveUsersPie {
	height: 235px;
}

/* NEW VERSION INFO */
#acpNewVersion i.fa-info-circle {
	font-size: 44px;
	line-height: 40px;
}

/* Warnings */
#acpWarnings i.fa-warning {
	font-size: 44px;
	line-height: 40px;
}
