/* PHONES */
@media screen and (max-width: 767px) {

	.ipsSideMenu {
		border: 1px solid rgba(0,0,0,0.05);
	}

	.ipsSideMenu .ipsSideMenu_mainTitle a {
		color: #8c8c8c;
		font-weight: normal;
	}

	/* Non-JS fallback */
	.ipsSideMenu .ipsSideMenu_title,
	.ipsSideMenu .ipsSideMenu_subTitle,
	.ipsSideMenu .ipsSideMenu_list {
		display: none;
	}

	.ipsSideMenu .ipsSideMenu_mainTitle,
	.ipsSideMenu .ipsSideMenu_mainTitle a,
	.ipsSideMenu:target .ipsSideMenu_title,
	.ipsSideMenu:target .ipsSideMenu_list,
	.ipsSideMenu.ipsSideMenu_open .ipsSideMenu_title,
	.ipsSideMenu.ipsSideMenu_open .ipsSideMenu_list,
	.ipsSideMenu.ipsSideMenu_open .ipsSideMenu_subTitle {
		display: block;
	}

	.ipsSideMenu.ipsSideMenu_open .ipsSideMenu_mainTitle a,
	.ipsSideMenu:target .ipsSideMenu_mainTitle a {
		background: #151515;
		color: #fff;
		display: block;
	}

	.ipsSideMenu.ipsSideMenu_open,
	.ipsSideMenu:target {
		width: 100%;
		background: #fff;
		z-index: 4000;
	}

	.ipsSideMenu.ipsSideMenu_open .ipsSideMenu_title,
	.ipsSideMenu:target .ipsSideMenu_title {
		padding: 10px;
		background: #f9f9f9;
	}

	.ipsSideMenu.ipsSideMenu_open .ipsSideMenu_list,
	.ipsSideMenu:target .ipsSideMenu_list {
		margin-bottom: 0;
	}

	html[dir="ltr"] .ipsSideMenu.ipsSideMenu_open .ipsSideMenu_list li a,
	html[dir="ltr"] .ipsSideMenu:target .ipsSideMenu_list li a {
		padding-left: 20px;
	}
	html[dir="rtl"] .ipsSideMenu.ipsSideMenu_open .ipsSideMenu_list li a,
	html[dir="rtl"] .ipsSideMenu:target .ipsSideMenu_list li a {
		padding-right: 20px;
	}
}