/* PHONES */
@media screen and (max-width: 767px) {
	.ipsApp .ipsForm_horizontal .ipsFieldRow > .ipsFieldRow_title,
	.ipsApp .ipsForm_horizontal .ipsFieldRow > .ipsFieldRow_label {
		float: none !important;
		width: auto;
		text-align: inherit !important;
	}

	html[dir="ltr"] .ipsApp .ipsForm_horizontal .ipsFieldRow:not( .ipsFieldRow_checkbox )  .ipsFieldRow_content,
	html[dir="ltr"] .ipsApp .ipsForm_horizontal .ipsFieldRow_checkbox {
		margin-left: 0;
	}
	html[dir="rtl"] .ipsApp .ipsForm_horizontal .ipsFieldRow:not( .ipsFieldRow_checkbox )  .ipsFieldRow_content,
	html[dir="rtl"] .ipsApp .ipsForm_horizontal .ipsFieldRow_checkbox {
		margin-right: 0;
	}

	.ipsApp .ipsFieldRow_content select {
		margin-top: 0;
		width: 100%;
	}

	.ipsApp textarea, .ipsApp input[type="text"], .ipsApp input[type="password"],
	.ipsApp input[type="datetime"], .ipsApp input[type="datetime-local"], .ipsApp input[type="date"],
	.ipsApp input[type="month"], .ipsApp input[type="time"], .ipsApp input[type="week"], 
	.ipsApp input[type="number"], .ipsApp input[type="email"], .ipsApp input[type="url"],
	.ipsApp input[type="search"], .ipsApp input[type="tel"], .ipsApp input[type="color"], .ipsApp select {
		font-size: 16px;
	}
}