#emoticonsManagement ul {
	width: 100%;
	min-height: 50px;
}

#emoticonsManagement li {
	cursor: move;
}

.cEmoticons_box {
	text-align: center;
	height: 100%;
	position: relative;
	padding-bottom: 40px;
}
	
	.cEmoticons_box > .ipsPad_half:first-child {
		display: table;
		width: 100%;
		height: 100%;
		vertical-align: middle;
	}

.cEmoticons_input {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

.cEmoticons_box [data-delete] {
	background: #222;
	width: 18px;
	height: 18px;
	line-height: 18px;
	color: #fff;
	position: absolute;
	top: -5px;
	right: -5px;
	border-radius: 30px;
}

#emoticonsManagement img {
	padding: 5px;
	max-height: 100px;
}

#emoticonsManagement input {
	padding: 3px;
	width: 100%;
	font-size: 13px;
}